*{
    transition: all 2s;
}

body{
    background: skyblue;
    background-image: url(https://i.pinimg.com/564x/da/c3/24/dac324d952e1815d9f7a74aefa6d428c.jpg);
    
}

.row{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

}

.column{
    background :rgba(255, 255, 255, .8);
    border: 1px dashed white;
    width: 150px;
    height: 150px;
    margin: 20px;
}

#bio .column{
    width: 50%;

}


.column:hover{
    transform: rotate(777deg);
    background: palegoldenrod;
}

#bio .column:hover{
    transform: rotateY(777deg);
    background: rgb(133, 255, 153);
}
